#div-1{
    background-color: orangered;
    font-size: xx-large;

}

.header1{
    color: green;
}
body{
    background-color: orangered;
}

@media only screen and (max-width: 600px ) {
    body{
        background-color: gold;
    }
}



@media only screen and (max-width: 1000px) {
    body{
        background-color: saddlebrown;
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-color: darkolivegreen;
    }
}

