#div-1{
    background-color: sandybrown;
    font-size: xx-large;

}

.header1{
    color: green;
}
body{
    background-color: sandybrown;
}

@media only screen and (max-width: 600px ) {
    body{
        background-color: salmon;
    }
}



@media only screen and (max-width: 1000px) {
    body{
        background-color: lemonchiffon;
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-color: azure;
    }
}

