
#div-1{
    background-color: Skyblue;
    font-size: xx-large;

}

.header1{
    color: green;
}
body{
    background-color: skyblue;
}

@media only screen and (max-width: 600px ) {
    body{
        background-color: cornflowerblue;
    }
}



@media only screen and (max-width: 1000px) {
    body{
        background-color: forestgreen;
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-color: darkseagreen;
    }
}

