#div-1{
    background-color: midnightblue;
    font-size: xx-large;

}

.header1{
    color: darkgray;
}
body{
    background-color: midnightblue;
}

@media only screen and (max-width: 600px ) {
    body{
        background-color: lightcoral;
    }
}



@media only screen and (max-width: 1000px) {
    body{
        background-color: violet;
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-color: yellow;
    }
}

