.para1{
    color:red;
}
#div-1{
    background-color: aqua;
    font-size: xx-large;

}
#overview,text,img36064506_1351094331702322_1970432151027449856_n.jpg{
    position: absolute;
    top: 500px;
    right: 500px;
}
.header1{
    color: green;
}
body{
    background-color: aqua;
}

@media only screen and (max-width: 600px ) {
    #body-1 {
        background-color: cornflowerblue;
    }
}



@media only screen and (max-width: 1000px) {
    #p-1{
        background-color: forestgreen;
    }
}

@media only screen and (max-width: 600px) {
    #p-1{
        background-color: darkseagreen;
    }
}

