
.para1{
    color:red;
}
#div-1{
    background-color: aqua;
    font-size: xx-large;

}
.header1{
    color: green;
}
body{
    background-color: aqua;
}

@media only screen and (max-width: 600px ) {
    #body-1 {
        background-color: green;
    }
}



@media only screen and (max-width: 1000px) {
    #p-1{
        background-color: yellow;
    }
}

@media only screen and (max-width: 600px) {
    #p-1{
        background-color: blue;
    }
}
{scroll-margin-left: 50px}
